name: Build LaTeX
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex 
          # latex_engine: pdflatex # Optional: Change to xelatex or lualatex if using specific fonts
          args: "-pdf -file-line-error -halt-on-error -interaction=nonstopmode"

      - name: Upload PDF as Artifact
        # This saves the PDF so you can download it from the GitHub Actions tab
        uses: actions/upload-artifact@v4
        with:
          name: compiled-pdf
          path: main.pdf